@import url("https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@300;500;600;700&display=swap");

.aboutme-main {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-direction: column;
	font-family: "Saira Condensed", sans-serif;
	font-weight: 600;
	scroll-snap-align: start;
	height: 100vh;
	padding-top: 30px;
}

.aboutme-title {
	letter-spacing: 0.5rem;
	text-align: center;
	font-size: 50px;
	font-family: "Saira Condensed", sans-serif;
	font-weight: 700;
}

.aboutme-ppg {
	color: rgb(71, 123, 168);
	padding: 0 2rem 2rem;
	margin: 0;
	font-size: 3rem;
}

@media screen and (min-width: 600px) {
}
