@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500&family=Shrikhand&family=Varela+Round&display=swap");

.aboutme-main {
	display: flex;
	margin: 0 auto;
	text-align: left;
	flex-direction: column;
	font-family: "Varela Round", sans-serif;
	font-weight: 400;
	padding: 0 3rem;
	height: 90vh;
	justify-content: center;
	align-items: center;
	margin-bottom: 20rem;
}

.aboutme-title {
	letter-spacing: 0.5rem;
	text-align: center;
	font-size: 3.5rem;
	font-family: "Shrikhand", cursive;
	font-weight: 400;
}

.aboutme-ppg {
	padding: 0;
	margin: 0;
	font-size: 2rem;
	line-height: 4rem;
	margin-bottom: 2rem;
	font-size: 1.6rem;
}

.skills-container {
	display: flex;
	flex-wrap: wrap;
	gap: 1.5rem;
	width: 100%;
}

.skills-title {
	font-family: "Shrikhand", cursive;
	font-weight: 400;
	font-size: 2rem;
	font-weight: 400;
	margin: 0 0 1rem;
	width: 100%;
}

.skills__skill {
	display: flex;
	padding: 0.6rem 1.5rem;
	background: rgba(180, 106, 85, 0.2);
	border-radius: 5px;
	font-family: "Varela Round", sans-serif;
	font-weight: 400;
	font-size: 2.5rem;
}

@media screen and (max-width: 800px) {
	.aboutme-main {
		margin-top: 12rem;
	}
}

@media screen and (min-width: 800px) {
	.aboutme-main {
		max-width: 900px;
		justify-content: center;
		height: 100vh;
	}

	.aboutme-title {
		font-size: 5rem;
	}

	.aboutme-ppg {
		width: 100%;
		font-size: 2rem;
	}

	.skills-container {
		width: 100%;
	}

	.skills__skill {
		font-size: 3rem;
		padding: 0.6rem 1.3rem;
	}
}
