@import url("https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@300;500;600;700&display=swap");
*,
*::before,
*::after {
	box-sizing: border-box;
}

.mailto {
	color: rgb(71, 123, 168);
	display: flex;
	border: 1px solid;
	font-size: 2rem;
	justify-content: center;
	align-items: center;
	margin-top: 4rem;
	font-family: "Saira Condensed", sans-serif;
	font-weight: 500;
}

.mailto:hover {
	color: #f1e8db;
	transform: scale(1.04);
}

@media screen and (min-width: 600px) {
}
