@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500&family=Shrikhand&family=Varela+Round&display=swap");

.contact-me-container {
	/* margin-top: 7rem; */
	width: 100%;
}

.contact-me-title {
	display: flex;
	justify-content: center;
	letter-spacing: 0.4rem;
	margin: 0;
	text-align: center;
	font-family: "Shrikhand", cursive;
	font-weight: 400;
	font-size: 3.5rem;
}

.inner-container {
	display: flex;
	justify-content: space-evenly;
	/* border-radius: 5px;
	border: 3px solid; */
	flex-direction: column;
	width: 88%;
	margin: 0 auto;
	height: 20rem;
}

.subtitle {
	display: flex;
	justify-content: center;
	text-align: center;
	font-size: 1.8rem;
	font-family: "Varela Round", sans-serif;
	font-weight: 400;
	padding: 0 2rem 0;
}

.mailto {
	/* background-color: #b46a55; */
	background: rgba(180, 106, 85, 0.2);
	border-radius: 5px;
	width: 60%;
	height: 4.5rem;
	display: flex;
	text-decoration: none;
	font-size: 1.8rem;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	font-family: "Varela Round", sans-serif;
	font-weight: 400;
}

.mailto:hover {
	cursor: pointer;
	transform: scale(1.04);
}

.sentence-container {
	display: flex;
	justify-content: center;
	width: 100%;
	text-align: center;
}

.sentence {
	display: flex;
	font-family: "Varela Round", sans-serif;
	font-weight: 400;
	font-size: 2rem;
	margin-bottom: 2rem;
}

@media screen and (min-width: 800px) {
	.contact-me-title {
		font-size: 5rem;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	/* .inner-container {
		max-width: 100%;
	} */

	.subtitle {
		font-size: 2.5rem;
		padding: 0rem 2rem 0;
	}

	.mailto {
		font-size: 2.2rem;
		width: 25%;
	}
}
