@import url("https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@300;500;600;700&display=swap");
*,
*::before,
*::after {
	box-sizing: border-box;
}

.contact-me-container {
	margin-top: 3rem;
	width: 100%;
}

.contact-me-title {
	color: rgb(71, 123, 168);
	margin: 0;
	display: flex;
	justify-content: center;
	font-family: "Saira Condensed", sans-serif;
	font-weight: 500;
	font-size: 2.5rem;
}

.inner-container {
	display: flex;
	color: rgb(71, 123, 168);
	font-size: 1rem;
	justify-content: center;
	border: 1px solid white;
	flex-direction: column;
	width: 88%;
	margin: 0 auto;
}

.subtitle {
	display: flex;
	justify-content: center;
	font-family: "Saira Condensed", sans-serif;
	font-weight: 500;
}

.mailto {
	background-color: rgb(71, 123, 168);
	color: #f1e8db;
	width: 50%;
	display: flex;
	text-decoration: none;
	font-size: 2rem;
	justify-content: center;
	margin: 0 auto;
	font-family: "Saira Condensed", sans-serif;
	font-weight: 500;
	margin-bottom: 1rem;
}

.mailto:hover {
	color: #f1e8db;
	transform: scale(1.04);
}

@media screen and (min-width: 600px) {
}
