@import url("https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@300;500&display=swap");

*,
*::before,
*::after {
	box-sizing: border-box;
}

.footer-container {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
	margin-top: 2rem;
}

.cv-svg,
.github-svg,
.linkedin-svg {
	height: 3rem;
}

.cv-svg:hover,
.github-svg:hover,
.linkedin-svg:hover {
	fill: #f1e8db;
	transform: scale(1.1);
}

@media screen and (min-width: 600px) {
}
