@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500&family=Shrikhand&family=Varela+Round&display=swap");

.desktop-header {
	display: none;
}

.mobile-header-on {
	display: flex;
	position: fixed;
	overflow-y: hidden;
	overflow-x: hidden;
	z-index: 20;
	text-align: center;
	top: 60px;
	left: 0%;
	width: 100%;
	transition: ease-in 0.3s;
	/* background-color: #f1e3cf; */
}

.mobile-header-off {
	display: none;
}

.menu-items {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	width: 100%;
	list-style-type: none;
	font-family: "Varela Round", sans-serif;
	font-weight: 400;
	background-color: antiquewhite;
	height: 100vh;
}

.menu-items-list {
	list-style: none;
	padding: 0;
	margin: 0;
	width: inherit;
}

.nav-link a {
	text-decoration: none;
	font-size: 3.6rem;
}

.nav-link a:hover {
	color: black;
}

.nav-link:hover {
	transform: scale(1.1);
}

.hamburger {
	display: flex;
	justify-content: flex-end;
	font-size: 4rem;
	background: none;
	/* color: #b46a55; */
	cursor: pointer;
	padding-top: 12px;
	border: none;
}

.light-dark {
	display: flex;
	font-size: 2.8rem;
	background: none;
	border: none;
	/* color: #b46a55; */
	margin: 0.5rem 0rem;
}

@media screen and (min-width: 800px) {
	.hamburger {
		display: none;
	}

	.desktop-header {
		display: flex;
	}

	.desktop-nav {
		display: flex;
		gap: 1.5rem;
	}

	.menu-items {
		flex-direction: row;
		padding: 0;
		background-color: none;
		height: 0;
		align-items: baseline;
	}

	.header-item {
		border-style: none;
		/* color: #b46a55; */
		text-decoration: none;
		background-color: transparent;
		font-size: 3rem;
		font-family: "Varela Round", sans-serif;
		font-weight: 400;
		padding: 0 15px 0;
	}

	.light-dark {
		margin: 0;
		padding: 0.3rem 0 0 0;
		font-size: 2.8rem;
	}
}
