*,
*::before,
*::after {
	box-sizing: border-box;
}

.mobile-header {
	color: black;
	display: flex;
}

.mobile-menu-items {
	list-style: none;
}

.header-title {
	color: red;
}

.hamburger {
	color: red;
}
