@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500&family=Shrikhand&family=Varela+Round&display=swap");

.desktop-header {
	display: none;
}

.mobile-header {
	width: calc(100% - 12px);
	display: flex;
	justify-content: space-between;
	padding: 1rem 3rem;
	position: fixed;
	height: 60px;
	top: 5px;
	box-shadow: rgba(40, 38, 38, 0.541) 0px 1px 10px 0px;
	z-index: 20;
}

.mobile-menu-inactive {
	display: flex;
	position: fixed;
	overflow-y: hidden;
	overflow-x: hidden;
	text-align: center;
	left: 0%;
	width: 100%;
	height: 1vh;
	transition: height 0.5s;
}

.mobile-menu-active {
	display: flex;
	position: fixed;
	overflow-y: hidden;
	overflow-x: hidden;
	text-align: center;
	left: 0%;
	width: 100%;
	height: calc(100vh - 12px);
	transition: height 0.5s;
	z-index: 2;
}

.menu-items {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	/* text-align: center; */
	width: 100%;
	list-style-type: none;
	font-family: "Shrikhand", cursive;
	font-weight: 400;
	height: 100%;
	margin: 0 6px;
}

.menu-items-list {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	height: 25vh;
	list-style: none;
	padding: 0;
	width: inherit;
}

.nav-link {
	background-color: transparent;
}

.header-item {
	border: none;
	text-decoration: none;
	background-color: transparent;
	font-size: 4rem;
	font-family: "Shrikhand", cursive;
	font-weight: 400;
}

.header-item:hover,
.light-dark:hover {
	transform: scale(1.1);
}

.hamburger {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	font-size: 4rem;
	background: none;
	cursor: pointer;
	border: none;
	/* transform: translate(-50%, 50%); */
	transition: transform 0.6s, opacity 0.8s, top 0.6s;
}

.light-dark {
	display: flex;
	font-size: 2.8rem;
	background: none;
	border: none;
	margin: 0.5rem 0rem;
}

@media screen and (min-width: 800px) {
	.hamburger {
		display: none;
	}

	.desktop-header {
		display: flex;
		width: calc(100% - 12px);
		justify-content: space-between;
		padding: 1rem 2.5rem;
		position: fixed;
		height: 60px;
		top: 6px;
		box-shadow: rgba(40, 38, 38, 0.541) 0px 5px 40px 0px;
		z-index: 2;
	}

	.mobile-header {
		display: none;
	}

	.desktop-nav {
		display: flex;
		gap: 1.5rem;
	}

	.menu-items {
		flex-direction: row;
		padding: 0;
		height: 0;
		align-items: baseline;
	}

	.header-item {
		border-style: none;
		/* color: #b46a55; */
		text-decoration: none;
		background-color: transparent;
		font-size: 3rem;
		font-family: "Shrikhand", cursive;
		font-weight: 400;
		padding: 0 15px 0;
	}

	.light-dark {
		margin: 0;
		padding: 0.3rem 0 0 0;
		font-size: 2.8rem;
	}
}
