@import url("https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@300;500;600;700&display=swap");

.home-main {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-direction: column;
	font-family: "Saira Condensed", sans-serif;
	font-weight: 600;
	/* scroll-snap-align: start; */
	height: 100vh;
}

.home-title {
	letter-spacing: 0.5rem;
	text-align: center;
	font-size: 50px;
	font-family: "Saira Condensed", sans-serif;
	font-weight: 700;
	margin: 0;
}

.home-icon {
	font-size: 6rem;
	color: #dfc08a;
}

.home-ppg {
	text-align: center;
	font-size: 30px;
	padding: 0 2rem 2rem;
	margin: 0;
	color: rgb(71, 123, 168);
}

@media screen and (min-width: 600px) {
}
