@import url("https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@300;500;600;700&display=swap");
*,
*::before,
*::after {
	box-sizing: border-box;
}

.home-main {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-direction: column;
	color: rgb(71, 123, 168);
	font-family: "Saira Condensed", sans-serif;
	font-weight: 600;
	scroll-snap-align: start;
	height: 30vh;
}

.home-title {
	text-align: center;
	color: #f1e8db;
	font-size: 50px;
	font-family: "Saira Condensed", sans-serif;
	font-weight: 700;
	margin: 0;
}

.home-ppg {
	font-size: 30px;
	padding: 0 2rem 2rem;
	margin: 0;
}

@media screen and (min-width: 600px) {
}
