@import url("https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@300;500&display=swap");

*,
*::before,
*::after {
	box-sizing: border-box;
}

.projects-container {
	display: grid;
	gap: 5rem;
	justify-content: center;
	color: rgb(71, 123, 168);
}

.card {
	overflow: hidden;
	box-shadow: 0 2px 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	cursor: pointer;
	transition: 200ms ease-in;
}
.card__image {
	height: 12rem;
	width: 100%;
	object-fit: contain;
}

.card__title {
	padding: 1rem;
}

.card__description {
	padding: 0 1rem;
}

.card__btn {
	padding: 1rem;
	font-size: 1rem;
	margin: 1rem;
	background-color: #477ba8;
	transition: 200ms ease-in color 200ms ease-in;
}

.card:hover {
	transform: scale(1.04);
}

.card__btn:hover {
	cursor: pointer;
	background-color: #f1e8db;
}

@media screen and (min-width: 600px) {
}
