@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500&family=Shrikhand&family=Varela+Round&display=swap");

.projects-main {
	padding-top: 7rem;
}

.projects-title {
	letter-spacing: 0.5rem;
	text-align: center;
	font-size: 3.5rem;
	font-family: "Shrikhand", cursive;
	font-weight: 400;
	margin: 0;
}

.projects-container {
	display: grid;
	justify-content: center;
	gap: 3rem;
	width: 88%;
	margin: 0 auto;
}

.card {
	display: flex;
	width: 100%;
	overflow: hidden;
	border-radius: 5px;
}

.card-inner-info {
	display: grid;
}

.project-details {
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
	grid-area: 1/1;
}

.card__image {
	display: none;
}

.card__image__mobile {
	width: 100%;
	object-fit: cover;
	grid-area: 1/1;
	filter: blur(10px);
	z-index: -1;
	height: 100%;
}

.card__title {
	font-size: 2.5rem;
	padding: 1rem;
	text-align: center;
	font-family: "Lexend Deca", sans-serif;
	font-weight: 500;
}

.card__description {
	font-size: 1.8rem;
	padding: 1rem 2.5rem 2rem;
	font-family: "Varela Round", sans-serif;
	font-weight: 400;
}

.card__btn {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 4.5rem;
	padding: 1rem;
	font-size: 1.8rem;
	margin: 1rem auto;
	background: #b08e6a;
	border-radius: 5px;
	font-family: "Varela Round", sans-serif;
	font-weight: 400;
	min-width: 70%;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
	border: 0.2px solid #9f7d4e;
}

.card__btn:hover {
	background: #edba84c0;
	transform: scale(1.04);
}

@media screen and (min-width: 800px) {
	.projects-main {
		width: 100%;
		display: flex;
		flex-direction: column;
		padding-top: 12rem;
	}

	.projects-title {
		font-size: 5rem;
		margin-bottom: 5rem;
	}

	.projects-container {
		width: 100%;
		margin: 0;
		gap: 7rem;
	}

	.project-details {
		padding: 2rem;
	}

	.card {
		flex-direction: row;
		width: 100%;
		border-radius: 5px;
	}

	.card__title {
		font-size: 3rem;
		padding: 0;
	}

	.card__image__mobile {
		display: none;
	}

	.image-container {
		width: 100%;
		filter: grayscale(100%) contrast(1) brightness(90%);
		mix-blend-mode: multiply;
	}

	.image-container:hover {
		mix-blend-mode: normal;
		filter: none;
		transition: 1s ease;
	}

	.card__image {
		display: block;
		height: 100%;
		float: right;
		width: 100%;
		padding: 0;
	}

	.card__image:hover {
		filter: none;
		mix-blend-mode: none;
	}

	.card-inner-info {
		display: flex;
		justify-content: center;
		gap: 2rem;
		flex-direction: column;
		width: 60%;
		float: left;
		/* background-color: #b08e6a; */
	}

	.card__description {
		display: flex;
		font-size: 2rem;
		padding: 2rem 0.5rem;
	}

	.card__btn {
		font-size: 2rem;
		margin: 0 auto;
	}
}
