@import url("https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@300;500;700&display=swap");

*,
*::before,
*::after {
	box-sizing: border-box;
}

.skills-main {
	margin-top: 5rem;
	scroll-snap-align: start;
	height: 100vh;
}

.skills-title {
	text-align: center;
	font-size: 50px;
	font-family: "Saira Condensed", sans-serif;
	font-weight: 700;
	margin: 0;
}

.skills-container {
	display: flex;
	color: rgb(71, 123, 168);
	font-size: 10px;
	text-align: center;
	margin-bottom: 2rem;
	font-family: "Saira Condensed", sans-serif;
	font-weight: 500;
	margin: 0 2rem 0;
}

.column {
	width: 50%;
}

@media screen and (min-width: 600px) {
}
