@import url("https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@300;500&display=swap");

.svg-main {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	padding: 2rem 2rem;
}

.svg-container {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
	margin: 0 auto;
}

.cv-svg,
.github-svg,
.linkedin-svg {
	display: flex;
	height: 2.5rem;
	padding: 0;
}

.cv-svg:hover,
.github-svg:hover,
.linkedin-svg:hover {
	transform: scale(1.2);
	cursor: pointer;
}

.line {
	display: flex;
	height: 200px;
	border-left: 3px solid;
	margin: 0 auto;
}

@media screen and (max-width: 800px) {
	.line {
		display: none;
	}
}

@media screen and (min-width: 800px) {
	.svg-main {
		padding: 0;
	}

	.svg-container {
		flex-direction: column;
		height: 20vh;
		margin-top: 6rem;
	}
}
