@import url("https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@300;500;600;700&display=swap");
*,
*::before,
*::after {
	box-sizing: border-box;
}

.App {
	width: 100vw;
	background-color: black;
	overflow: hidden;
}

.main-header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 1rem 1rem 0;
}

.logo {
	color: rgb(71, 123, 168);
	height: 50px;
	width: 50px;
	margin: 0;
	font-family: "Saira Condensed", sans-serif;
	font-weight: 700;
}

.logo:hover {
	cursor: pointer;
	transform: scale(1.2);
}
