@import url("https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@300;500;600;700&display=swap");

body {
	transition: background-color 0.3s ease-in-out, filter 0.3s ease-in-out;
}

.App {
	width: 100vw;
	overflow: hidden;
	scroll-snap-type: y mandatory;
	overflow-y: scroll;
	height: 100vh;
	border: 6px solid;
	border-image-source: linear-gradient(
		43deg,
		rgba(132, 171, 204, 1) 51%,
		rgba(71, 123, 168, 1) 64%
	);
	border-image-slice: 1;
}

.main-header {
	/* scroll-snap-align: start; */
	width: 96%;
	display: flex;
	justify-content: space-between;
	padding: 1rem 4rem 0;
	position: fixed;
	height: 60px;
	/* background-color: black; */
	background-color: #f1e3cf;
	/* border: 2px solid rgb(71, 123, 168); */
}

.logo {
	color: rgb(71, 123, 168);
	height: 50px;
	width: 50px;
	margin: 0;
	font-family: "Saira Condensed", sans-serif;
	font-weight: 700;
	font-size: 3.2rem;
	text-decoration: none;
}

.logo:hover {
	cursor: pointer;
	transform: scale(1.2);
}
